<div class="row">
    <div class="col-6">
        <textarea [(ngModel)]="text1" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Text 1:"></textarea>
    </div>
    <div class="col-6">
        <textarea [(ngModel)]="text2" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Text 2:"></textarea>
    </div>
</div>

<div>
    <button type="button" class="btn btn-primary" (click)="calculateSimilarity()">Compare Texts</button>
</div>

<!-- if similarity is -1 dont show it   -->
<div *ngIf="similarity != -1">
    <p>Similarity: {{similarity}}</p>
